<template>
	<div class="example">{{ firstname }}</div>
</template>

<script>
	export default {
		props : ['firstname'],
		data : function() {
			return {
				msg: 'Hello world vue 3!'
			}
		}
	}
</script>

<style>
	.example {
		background-color: red;
		padding: 30px;
	}
</style>