<template>
	<div v-on:click="test()">
		{{ dog.describe() }}
		<person :firstname="firstname"></person>
	</div>
</template>

<script>
	import Person from '/components/test/test.vue';
	import Tool from '/alain.js';

	Vue.component('person', Person);

	var tool = new Tool();

	export default function(dog)
	{
		this.el = "#main";

		this.methods = {};

		this.methods.test = function()
		{
			alert(tool.name());
		};

		this.data = function()
		{
			return {
				'firstname' : 'alain',
				'dog' : dog
			}
		}

		return new Vue(this);
	}
</script>